In [13]:
import pandas as pd

users = ["User1","User2","User3","User4","User5"]
items = ["ItemA","ItemB","ItemC","ItemD","ItemE"]

# 评分数据
datasets = [
    [5,3,4,4,None],
    [3,1,2,3,3],
    [4,3,4,3,5],
    [3,3,1,5,4],
    [1,5,5,2,1]
]
df = pd.DataFrame(datasets,columns=items,index=users)
df

       ItemA  ItemB  ItemC  ItemD  ItemE
User1      5      3      4      4    NaN
User2      3      1      2      3    3.0
User3      4      3      4      3    5.0
User4      3      3      1      5    4.0
User5      1      5      5      2    1.0

## 皮尔逊相关系数

对于稠密数据，采用皮尔逊相关系数来计算。
[ -1 , 1 ]，-1 表示强负相关，+1 表示强正相关
pandas 中的 corr() 可直接用于计算皮尔逊相关系数。

## 基于用户的评分预测

In [14]:
# corr() 默认按列计算，如果计算用户间的相似度，需要转置。
user_similar = df.T.corr()
user_similar.round(4)

        User1   User2   User3   User4   User5
User1  1.0000  0.8528  0.7071  0.0000 -0.7921
User2  0.8528  1.0000  0.4677  0.4900 -0.9001
User3  0.7071  0.4677  1.0000 -0.1612 -0.4666
User4  0.0000  0.4900 -0.1612  1.0000 -0.6415
User5 -0.7921 -0.9001 -0.4666 -0.6415  1.0000

$$
pred(u,i)=\hat{r}_{ui}=\cfrac{\sum_{v\in U}sim(u,v)*r_{vi}}{\sum_{v\in U}|sim(u,v)|}
$$

In [22]:
# 预测 User1 对物品 E 的评分

# 1.选择与 User1 最相似的两个用户：User2、User3
# 2.计算相似用户对 ItemE 的加权平均相似度。

res = ((0.8528 * 3) + (0.7071 * 5)) / (0.8528 +0.7071)
res

3.906596576703635

## 基于物品的评分预测

In [16]:
item_similar = df.corr()
item_similar.round(4)

        ItemA   ItemB   ItemC   ItemD   ItemE
ItemA  1.0000 -0.4767 -0.1231  0.5322  0.9695
ItemB -0.4767  1.0000  0.6455 -0.3101 -0.4781
ItemC -0.1231  0.6455  1.0000 -0.7206 -0.4276
ItemD  0.5322 -0.3101 -0.7206  1.0000  0.5817
ItemE  0.9695 -0.4781 -0.4276  0.5817  1.0000

$$
pred(u,i)=\hat{r}_{ui}=\cfrac{\sum_{j\in I_{rated}} sim(i,j)*r_{uj}}{\sum_{j\in I_{rated}}|sim(i,j)|}
$$

In [23]:
# 预测 User1 对物品 E 的评分

# 1.选择与物品 E 最相似的两个物品：ItemA、ItemD
# 2.计算 User1 对相似物品的加权平均相似度。

res = ((0.9695 * 5) + (0.5817 * 4)) / (0.9695 +0.5817)
res

4.625

## 总结

基于用户和基于物品的协同过滤在实践中可以都做出来，对比效果，选择最恰当的。